
<header>
    <div class="tel">
        <div class="container" style="position: relative;">
            <div class="logo">
                <img src="{IMG_PATH}images/logo1.png">
            </div>
            <p><strong>联系我们:</strong> <span>(800)</span> 1444 000 4040</p>
            <div class="clearfix"></div>
        </div>
    </div>
    <nav class="nav">
        <div class="container">
            <div class="link">
                <ul>
                    <li {if $catid==null}class="active"{/if}><a href="{siteurl($siteid)}">主页</a></li>
                    {pc:content action="category"}
                    {loop $data $v}
                    <li {if $catid==$v[catid]}class="active"{/if}><a href="{$v['url']}">{$v[catname]}</a></li>
                    {/loop}
                    {/pc}
                </ul>
                <!--<div class="clearfix"></div>-->
            </div>
        </div>
    </nav>
    <div class="clearfix"></div>
    <div class="read" >
        <div class="button">
        </div>
        <div class="sub">
        </div>
    </div>
</header>